{erl_opts, [debug_info]}.
{deps, [{riak_core, {git, "https://github.com/basho/riak_core", {branch, "develop"}}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [rc_example]}
]}.
{profiles, [{dev1, [{relx, [{vm_args, "conf/dev1/vm.args"}, {sys_config, "conf/dev1/sys.config"}]}]},
            {dev2, [{relx, [{vm_args, "conf/dev2/vm.args"}, {sys_config, "conf/dev2/sys.config"}]}]},
            {dev3, [{relx, [{vm_args, "conf/dev3/vm.args"}, {sys_config, "conf/dev3/sys.config"}]}]}]}.
{relx, [{release, {rc_example, "0.1.0"}, [rc_example]},
        {dev_mode, true},
        {include_erts, false},
        {sys_config, "conf/sys.config"},
        {vm_args, "conf/vm.args"},
        {extended_start_script, false},
        {overlay, [{template, "conf/sys.config", "releases/{{default_release_version}}/sys.config"},
            {template, "conf/vm.args", "releases/{{default_release_version}}/vm.args"}]}]}.

